@import 'tailwindcss';

@theme {
  /* Text */
  --text-*: initial;

  --text-xs: 0.75rem; /* 12px */
  --text-xs--line-height: 1rem; /* 16px */

  --text-sm: 0.8125rem; /* 13px */
  --text-sm--line-height: 1.3125rem; /* 21px */

  --text-base: 0.875rem; /* 14px */
  --text-base--line-height: 1.375rem; /* 22px */

  --text-lg: 1rem; /* 16px */
  --text-lg--line-height: 1.5rem; /* 24px */

  /* Breakpoints */
  --breakpoint-xs: 30rem; /* 480px */
}

@theme inline {
  /* Fonts */
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* OLD */
  /* Text colors */
  --text-color-secondary: var(--color-zinc-800);
  --text-color-tertiary: var(--color-zinc-700);
  --text-color-faded: var(--color-zinc-400);
  --text-color-contrast: var(--color-white);

  /* Background colors */
  --background-color-layout-secondary-active: var(--color-white);
  --background-color-layout-secondary-hover: var(--color-zinc-50);
  --background-color-layout-secondary-contrast: var(--color-zinc-50);
}

:root {
  --background: oklch(1 0 0); /* white */
  --foreground: oklch(0.2103 0.0059 285.89); /* zinc-900 */

  --primary: oklch(0.7859 0.1674 70.04); /* custom */
  --primary-foreground: oklch(1 0 0); /* white */
  --secondary: oklch(0.9674 0.0013 286.37); /* zinc-100 */
  --secondary-foreground: oklch(0.2103 0.0059 285.89); /* zinc-900 */
  --muted: oklch(0.9674 0.0013 286.37); /* zinc-100 */
  --muted-foreground: oklch(0.5517 0.0138 285.94); /* zinc-500 */
  --accent: oklch(0.9674 0.0013 286.37); /* zinc-100 */
  --accent-foreground: oklch(0.2103 0.0059 285.89); /* zinc-900 */

  --border: oklch(0.9197 0.004 286.32); /* zinc-200 */
  --input: oklch(0.9197 0.004 286.32); /* zinc-200 */
  --ring: oklch(0.9674 0.0013 286.37); /* zinc-100 */
}

@layer base {
  * {
    @apply border-border outline-ring;
  }

  body {
    @apply bg-background text-foreground h-dvh px-4 font-mono text-base antialiased sm:px-8;
  }
}
