---
import Logo from '@/assets/logo.svg'
import { cn } from '@/lib/utils'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'header'>

const { class: className, ...props } = Astro.props
---

<header class={cn('group flex items-center mx-auto h-16', className)} {...props}>
  <div class="flex items-center gap-1 select-none">
    <span class="relative z-1 shrink-0 bg-white">
      <Logo class="size-5 text-accent" />
    </span>
    <span class="font-bold leading-0 text-lg">AH</span>
  </div>
</header>
