---
import HomeContact from '@/components/page/home/HomeContact.astro'
import HomeHero from '@/components/page/home/HomeHero.astro'
import HomeProjects from '@/components/page/home/HomeProjects.astro'
import HomeSocials from '@/components/page/home/HomeSocials.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Andrei Hudovich"
  description="A senior software engineer and solopreneur based in Wroclaw, Poland."
>
  <div class="mx-auto pt-6 pb-12 max-w-160 space-y-12 sm:py-10">
    <HomeHero />
    <HomeProjects />
    <HomeSocials />
    <HomeContact />
  </div>
</Layout>
