---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Andrei Hudovich"
  description="A senior software engineer and solopreneur based in Wroclaw, Poland."
>
  <h1>Hello, world!</h1>
</BaseLayout>
