@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0); /* white */
  --foreground: oklch(0.141 0.005 285.823); /* zinc-950 */

  --primary: oklch(0.7859 0.1674 70.04); /* custom */
  --primary-foreground: oklch(0.985 0 0); /* zinc-50 */
  --secondary: oklch(0.967 0.001 286.375); /* zinc-100 */
  --secondary-foreground: oklch(0.141 0.005 285.823); /* zinc-950 */
  --muted: oklch(0.967 0.001 286.375); /* zinc-100 */
  --muted-foreground: oklch(0.552 0.016 285.938); /* zinc-500 */
  --destructive: oklch(0.577 0.245 27.325); /* red-600 */

  --card: oklch(1 0 0); /* white */
  --card-foreground: oklch(0.141 0.005 285.823); /* zinc-950 */

  --border: oklch(0.92 0.004 286.32); /* zinc-200 */
  --ring: oklch(0.705 0.015 286.067); /* zinc-400 */

  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.2257 0.0194 280.25); /* custom */
  --foreground: oklch(0.871 0.006 286.286); /* zinc-300 */

  --primary: oklch(0.7859 0.1674 70.04); /* custom */
  --primary-foreground: oklch(0.141 0.005 285.823); /* zinc-950 */
  --secondary: oklch(0.274 0.006 286.033); /* zinc-800 */
  --secondary-foreground: oklch(0.985 0 0); /* zinc-50 */
  --muted: oklch(0.274 0.006 286.033); /* zinc-800 */
  --muted-foreground: oklch(0.69 0.006 286.286); /* custom (based on foreground) */
  --destructive: oklch(0.704 0.191 22.216); /* red-400 */

  --card: oklch(0.215 0.0194 280.25); /* custom (based on background) */
  --card-foreground: oklch(0.985 0 0); /* zinc-50 */

  --border: oklch(0.274 0.006 286.033); /* zinc-800 */
  --ring: oklch(0.552 0.016 285.938); /* zinc-500 */
}

@theme {
  /* Breakpoints */
  --breakpoint-xs: 30rem; /* 480px */

  /* Text */
  --text-xs: 0.8125rem; /* 13px */
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem; /* 14px */
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 0.9375rem; /* 15px */
  --text-base--line-height: calc(1.5 / 1);

  /* Transitions */
  --default-transition-duration: 300ms;
}

@theme inline {
  /* Fonts */
  --font-*: initial;
  --font-heading: var(--font-geist-mono);
  --font-base: var(--font-geist-mono);

  /* Colors */
  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);

  /* Radiuses */
  --radius: var(--radius);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}
