---
import IconAnalytics01 from '@/assets/icons/huge/icon-analytics-01.svg'
import LogoProjectBlueskyMeter from '@/assets/logos/projects/logo-blueskymeter.svg'
import LogoProjectListingCat from '@/assets/logos/projects/logo-listingcat.svg'
import SectionHeader from '@/components/layout/SectionHeader.astro'
import links from '@/data/links.json'
import HomeProjectsCard from './HomeProjectsCard.astro'
import type { SvgComponent } from 'astro/types'
import type { ProjectStatusType } from '@/lib/types'

interface Project {
  name: string
  description: string
  status: ProjectStatusType
  icon: SvgComponent
  link?: string
}

const projects: Array<Project> = [
  {
    name: 'Analytics',
    description: 'Open-source product and web analytics.',
    status: 'development',
    icon: IconAnalytics01,
    link: 'https://github.com/ahudovich/analytics',
  },
  {
    name: 'Listing Cat',
    description: 'Marketing database for startups and indie hackers.',
    status: 'active',
    icon: LogoProjectListingCat,
    link: links.projects.listingcat,
  },
  {
    name: 'Bluesky Meter',
    description: 'Realtime analytics for Bluesky social network.',
    status: 'sold',
    icon: LogoProjectBlueskyMeter,
    link: links.projects.blueskymeter,
  },
]
---

<section class="@container/projects">
  <SectionHeader heading="Projects" text="These are my personal projects, both past and ongoing:" />

  <ul class="grid gap-3 @lg/projects:grid-cols-2">
    {
      projects.map((project) => (
        <li>
          <HomeProjectsCard
            name={project.name}
            description={project.description}
            status={project.status}
            link={project.link}
          >
            <project.icon />
          </HomeProjectsCard>
        </li>
      ))
    }
  </ul>
</section>
